/SCCM/nbproject/private/
/SCCM/build/
/SocketPersona/nbproject/private/
/SocketPersona/build/
/SocketPersona/dist/
/AppParticipacion/nbproject/private/
/AppParticipacion/build/
/ServidorRMI/nbproject/private/
/ServidorRMI/build/
/ClienteRMI/nbproject/private/
/ClienteRMI/build/
/ServidorRMI/dist/
/ClienteRMI/dist/
/Actividad22/nbproject/private/
/Actividad22/build/
/Actividad22Cliente/nbproject/private/
/Actividad22Cliente/build/
/Actividad22Cliente/dist/
/Actividad22/dist/
